img {
  max-width: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
}

.header {
  background-color: #223047;
}

.header .navbar {
  width: 100%;
  border-bottom: 1px solid #4e596c;
}

.button {
  background-color: #00fff0;
  color: #223047;
  border: none;
  font-weight: bold;
  padding: 12px 35px;
  border-radius: 10px;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1179px;
  margin: auto;
}

.navbar {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar-list a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-list li {
  margin-right: 30px;
}

.navbar-list li img {
  margin-bottom: 1px;
  margin-left: 5px;
}

.navbar-hamburger {
  margin-left: 30px;
}

.navbar-hamburger__bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.navbar-hamburger__bars:last-child {
  margin-bottom: 0;
}

.navbar__menuright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero-title {
  color: #fff;
  font-weight: 500;
  font-size: 39px;
  max-width: 365px;
}

.hero-subtitle {
  line-height: 28.59px;
  max-width: 408px;
  color: #97a4be;
}

.hero-btn-secondary {
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent;
  font-weight: lighter;
  margin-left: 25px;
}

.hero__wrap-right {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}

.advantages-title {
  text-align: center;
  margin-top: 200px;
}

.advantages-title:after {
  content: ' ';
  display: block;
  background: #00fff0;
  width: 100px;
  height: 4px;
  margin: 80px auto 0 auto;
}

.advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  margin-bottom: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-block__item {
  margin-right: 30px;
  padding: 36px 30px 30px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px 1px rgba(30, 43, 63, 0.1);
          box-shadow: 0 2px 5px 1px rgba(30, 43, 63, 0.1);
  text-align: center;
  max-width: 270px;
}

.advantages-block__item-title {
  font-size: 17px;
  font-weight: 500;
}

.advantages-block__item-descr {
  color: #97a4be;
  line-height: 29px;
}

.advantages-block__item:last-child {
  margin-right: 0;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-img-block {
  background: #233148;
  height: 530px;
  width: 50%;
}

.info-descr-block {
  width: 50%;
  background: #f5f6fa;
}

.info-descr-block__wrap {
  margin: 130px;
}

.info-descr-block__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  max-width: 240px;
}

.info-descr-block__descr {
  max-width: 470px;
  line-height: 29px;
  color: #97a4be;
}
/*# sourceMappingURL=style.css.map */