img {
  max-width: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
}

.header {
  background-color: #223047;
}

.header .navbar {
  border-bottom: 1px solid #4e596c;
}

.button {
  background-color: #00fff0;
  color: #223047;
  border: none;
  font-weight: bold;
  padding: 12px 35px;
  border-radius: 10px;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.navbar {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar-list a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-list li {
  margin-right: 30px;
}

.navbar-list li img {
  margin-bottom: 1px;
  margin-left: 5px;
}

.navbar-hamburger {
  cursor: pointer;
  margin-left: 30px;
}

.navbar-hamburger__bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.navbar-hamburger__bars:last-child {
  margin-bottom: 0;
}

.navbar__menuright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 691px) {
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-list {
    display: none;
  }
  .navbar__menuright {
    margin-right: 40px;
  }
  .navbar-logo {
    margin-left: 20px;
  }
}

@media screen and (max-width: 350px) {
  .navbar-button {
    display: none;
  }
}

.menu {
  padding-top: 10px;
  z-index: 1;
  position: absolute;
  top: 59px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 30%;
  display: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu li {
  font-size: 20px;
  margin-right: 40px;
  text-align: center;
  margin-top: 20px;
  list-style: none;
  color: #233148;
}

.menu button {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;
}

@media screen and (max-width: 691px) {
  .menu {
    width: 80%;
    margin-left: 10%;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero-title {
  color: #fff;
  font-weight: 500;
  font-size: 39px;
  max-width: 365px;
  padding-bottom: 30px;
}

.hero-subtitle {
  line-height: 28.59px;
  max-width: 408px;
  color: #97a4be;
  padding-bottom: 60px;
}

.hero-btn-secondary {
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent;
  font-weight: lighter;
  margin-left: 25px;
}

.hero__wrap-right {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}

@media screen and (max-width: 991px) {
  .hero {
    padding-bottom: 50px;
  }
  .hero-title {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .hero-subtitle {
    font-size: 15px;
  }
  .hero__wrap-right {
    margin-top: 40px;
    -webkit-transform: none;
            transform: none;
    width: 21%;
  }
  .hero .button {
    width: 60%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 630px) {
  .hero {
    margin-top: 40px;
    text-align: center;
  }
  .hero-title {
    margin-left: 20px;
  }
  .hero-subtitle {
    font-size: 13px;
  }
  .hero__wrap-right {
    display: none;
  }
}

.advantages-title {
  text-align: center;
  margin-top: 200px;
}

.advantages-title:after {
  content: ' ';
  display: block;
  background: #00fff0;
  width: 100px;
  height: 4px;
  margin: 80px auto 0 auto;
}

.advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  margin-bottom: 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  margin-right: 30px;
  padding: 36px 30px 30px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px 1px rgba(30, 43, 63, 0.1);
          box-shadow: 0 2px 5px 1px rgba(30, 43, 63, 0.1);
  text-align: center;
}

.advantages-block__item img {
  width: 100px;
  margin: auto;
}

.advantages-block__item-title {
  font-size: 17px;
  font-weight: 500;
}

.advantages-block__item-descr {
  color: #97a4be;
  line-height: 29px;
}

@media screen and (max-width: 1191px) {
  .advantages-title {
    font-size: 29px;
  }
  .advantages-block__item {
    margin: 20px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    padding: 80px 20px 80px 20px;
  }
}

@media screen and (max-width: 740px) {
  .advantages-title {
    font-size: 25px;
    margin-top: 100px;
  }
  .advantages-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 300px;
  }
}

.presentation {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentation-text {
  text-align: right;
}

.presentation-text__title {
  font-size: 30px;
  line-height: 40px;
  padding-top: 140px;
  padding-bottom: 30px;
  font-weight: 500;
}

.presentation-text__descr {
  max-width: 483px;
  color: #97a4be;
  margin-left: auto;
  line-height: 30px;
}

.presentation-text__button {
  font-weight: 500;
  padding: 17px 31px;
  margin-top: 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.presentation-text__button:hover {
  -webkit-box-shadow: 0 8px 24px rgba(0, 255, 241, 0.5);
          box-shadow: 0 8px 24px rgba(0, 255, 241, 0.5);
}

.presentation__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.presentation-view {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.presentation-view__img {
  margin-left: 130px;
  margin-top: 150px;
}

.presentation-view-phone {
  text-align: right;
}

.presentation-advantages {
  margin: auto;
}

.presentation-advantages__block {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .7s;
  transition: all .7s;
  cursor: pointer;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  margin-right: 20px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 550px;
  -webkit-box-shadow: 0 4px 10px rgba(35, 39, 51, 0.1);
          box-shadow: 0 4px 10px rgba(35, 39, 51, 0.1);
}

.presentation-advantages__block p {
  display: none;
  text-align: left;
}

.presentation-advantages__block-title {
  font-size: 17px;
  width: 50%;
  text-align: left;
  font-weight: 500;
  margin-left: 25px;
}

.presentation-advantages__block-img {
  margin-top: 5px;
  margin-left: 30px;
  height: 30px;
  width: 30px;
}

.presentation-advantages__block-img img {
  text-align: center;
}

.presentation-advantages__block-main-img {
  margin-right: 100px;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.presentation-advantages__block-descr {
  line-height: 27.59px;
  max-width: 340px;
  font-weight: 500;
  margin-left: 83px;
  margin-top: 0px;
  display: none;
}

.presentation-main-description {
  width: 100%;
  background: #f5f6fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.presentation-main-description__img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  overflow: hidden;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.presentation-main-description__img img {
  margin-left: 8%;
  overflow: hidden;
}

.presentation-main-description__text {
  text-align: right;
}

.presentation-main-description__title {
  padding-top: 100px;
}

.presentation-main-description__platform {
  font-weight: 700;
  max-width: 90px;
  text-align: left;
  margin: 0px 0px 20px auto;
}

.presentation-main-description__platform:before {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  vertical-align: middle;
  margin: 0px auto;
  display: inline-block;
  content: ' ';
  background: url(../img/path.png) no-repeat center #00fff0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.notactive {
  display: none;
}

.active {
  -webkit-box-shadow: 0 8px 24px rgba(0, 255, 241, 0.5);
          box-shadow: 0 8px 24px rgba(0, 255, 241, 0.5);
  color: #233148;
  background-color: #00fff0;
}

.active img {
  margin-top: 3px;
}

@media screen and (max-width: 1450px) {
  .presentation-view__img {
    width: 90%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .presentation-view__img {
    width: 90%;
  }
  .presentation-main-description__title {
    padding-top: 60px;
  }
  .presentation-main-description__img img {
    width: 90%;
  }
}

@media screen and (max-width: 991px) {
  .presentation__item {
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .presentation-main-description__title {
    margin-bottom: 0px;
  }
  .presentation-main-description__platform {
    font-size: 14px;
    text-align: center;
    margin: 0px auto 20px auto;
  }
  .presentation-main-description__img {
    -webkit-transform: none;
            transform: none;
  }
  .presentation-main-description__img img {
    margin-bottom: -3px;
    margin-left: 0;
  }
  .presentation-advantages__block {
    margin: 30px auto 40px auto;
  }
  .presentation-advantages__block-main-img {
    margin-right: 0;
    margin-bottom: -10px;
  }
  .presentation-view__img {
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
  }
  .presentation-view-phone {
    text-align: center;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .presentation-text {
    text-align: center;
  }
  .presentation-text__title {
    padding-top: 30px;
  }
  .presentation-text__descr {
    font-size: 14px;
    margin: auto;
  }
  .presentation__img img {
    width: 50%;
    padding-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .presentation-view-phone {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
  }
  .presentation-view__img {
    text-align: center;
  }
  .presentation-advantages {
    margin-bottom: 30px;
  }
  .presentation-advantages__block {
    margin: 30px auto 20px auto;
    width: 80%;
  }
  .presentation-advantages__block-descr {
    margin-right: 5px;
  }
  .presentation-advantages__block-main-img {
    width: 60%;
    margin-right: 0;
    -webkit-transform: none;
            transform: none;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.info-img-block {
  background: #233148;
}

.info-descr-block {
  padding: 10px;
  background: #f5f6fa;
}

.info-descr-block__wrap {
  padding: 130px;
}

.info-descr-block__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  max-width: 240px;
}

.info-descr-block__descr {
  max-width: 500px;
  line-height: 29px;
  color: #97a4be;
}

.info__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 1191px) {
  .info__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .info-img-block {
    min-height: 400px;
  }
  .info-descr-block {
    text-align: center;
  }
  .info-descr-block__wrap {
    padding: 50px;
  }
  .info-descr-block__descr {
    margin: auto;
  }
  .info-descr-block__title {
    margin: 0px auto 30px auto;
  }
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #233148;
  text-align: center;
  color: white;
}

.video-play-btn {
  margin: 205px auto 0px auto;
  width: 76px;
  height: 76px;
  cursor: pointer;
}

.video-title {
  font-weight: lighter;
  margin-bottom: 30px;
  margin-top: 30px;
}

.video-descr {
  max-width: 804px;
  margin: auto;
  line-height: 29px;
  letter-spacing: 0.35px;
  margin-bottom: 180px;
}

@media screen and (max-width: 991px) {
  .video-descr {
    font-size: 15px;
  }
}

.download {
  text-align: center;
  color: #233148;
}

.download-title {
  font-weight: 500;
  margin-top: 250px;
  margin-bottom: 30px;
}

.download-subtitle {
  margin-bottom: 70px;
  font-weight: 500;
}

.download-btn {
  margin-bottom: 200px;
  font-weight: 500;
  color: #233148;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-transform: uppercase;
  border-radius: 0px;
}

.download-btn:hover {
  -webkit-box-shadow: 0 8px 24px rgba(0, 255, 241, 0.5);
          box-shadow: 0 8px 24px rgba(0, 255, 241, 0.5);
}

@media screen and (max-width: 768px) {
  .download-title {
    font-size: 25px;
    margin-top: 180px;
  }
  .download-btn {
    margin-bottom: 150px;
  }
}

.quote {
  background: #233148;
  color: #00fff0;
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;
}

.quote p {
  font-size: 18px;
  margin: auto;
  line-height: 29px;
  max-width: 765px;
}

@media screen and (max-width: 768px) {
  .quote {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .quote p {
    font-size: 15px;
    margin: 20px;
  }
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app__item {
  margin-top: 100px;
}

.app-wrap {
  background: #f5f6fa;
}

.app-download-btn {
  font-weight: 500;
  padding: 23px 115px;
  -webkit-box-shadow: 0 8px 24px rgba(0, 255, 241, 0.5);
          box-shadow: 0 8px 24px rgba(0, 255, 241, 0.5);
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform: translateY(32px);
          transform: translateY(32px);
}

.app-descr__download-buttons a:last-child {
  margin-left: 20px;
}

.app-descr__title {
  color: #233148;
  font-size: 40px;
  letter-spacing: 1px;
}

.app-descr__subtitle {
  max-width: 457px;
  color: #97a4be;
  line-height: 29px;
  margin-bottom: 50px;
  margin-top: 10px;
}

@media screen and (max-width: 1199px) {
  .app-img img {
    width: 90%;
  }
}

@media screen and (max-width: 991px) {
  .app {
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .app-img {
    padding-top: 10px;
  }
  .app-img img {
    width: 100%;
  }
  .app__item {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .app-download-btn {
    padding: 20px 70px;
  }
}

@media screen and (max-width: 320px) {
  .app-descr__download-buttons {
    display: block;
  }
  .app-descr__download-buttons a:last-child {
    margin-left: 0px;
  }
}

.footer-main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-main-footer__list {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-top: 140px;
  list-style: none;
}

.footer-main-footer__list li {
  color: #97a4be;
  margin-bottom: 15px;
}

.footer-main-footer__list li:first-child {
  color: #233148;
}

.footer-main-footer__list-title {
  padding-bottom: 14px;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .footer-main-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-main-footer__list {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media screen and (max-width: 425px) {
  .footer-main-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-main-footer__list {
    padding-left: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

.footer-subscribe {
  margin-bottom: 100px;
  text-align: center;
}

.footer-subscribe__title {
  padding-top: 60px;
  font-weight: 500;
  color: #233148;
}

.footer-subscribe__subtitle {
  margin-bottom: 70px;
  color: #97a4be;
}

.footer-subscribe__email {
  border: none;
  background: #f5f6fa;
  padding: 16px;
  width: 30%;
}

.footer-subscribe__btn {
  font-weight: 500;
  margin-left: 30px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 15px 40px;
  border-radius: 0;
  text-transform: uppercase;
}

.footer-subscribe__btn:hover {
  -webkit-box-shadow: 0 8px 24px rgba(0, 255, 241, 0.5);
          box-shadow: 0 8px 24px rgba(0, 255, 241, 0.5);
}

@media screen and (max-width: 991px) {
  .footer-subscribe__email {
    width: 60%;
  }
}

@media screen and (max-width: 490px) {
  .footer-subscribe__btn {
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
  }
}

.footer-bottom {
  background: #233148;
  color: #00fff0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-bottom__social-link {
  margin-right: 45px;
}

@media screen and (max-width: 768px) {
  .footer-bottom {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (max-width: 630px) {
  .footer-bottom__social-link:last-child {
    margin-right: 20px;
  }
}

@media screen and (max-width: 465px) {
  .footer-bottom__social {
    width: 100%;
    text-align: center;
  }
  .footer-bottom__social-link:last-child {
    margin-right: 10px;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */