.hero
    display: flex
    align-items: center
    justify-content: space-around
    &-title 
        color: #fff
        font-weight: 500
        font-size: 39px
        max-width: 365px
    &-subtitle
        line-height: 28.59px
        max-width: 408px
        color: $grey-text
    &-btn-secondary
        color: #ffffff
        border: 1px solid #ffffff
        background: transparent
        font-weight: lighter
        margin-left: 25px
    &__wrap-right
        transform: translateY(85px)