.download
    text-align: center
    color: $primary
    &-title
        font-weight: 500
        margin-top: 250px
        margin-bottom: 30px
    &-subtitle
        margin-bottom: 70px
        font-weight: 500
    &-btn
        margin-bottom: 200px
        font-weight: 500
        color: $primary
        transition: all 0.4s
        text-transform: uppercase
        border-radius: 0px
        &:hover
            box-shadow: 0 8px 24px rgba(0, 255, 241, 0.5)