.info
    display: flex
    &-img-block
        background: $primary
        width: 50%
    &-descr-block
        width: 50%
        background: $grey-bg
        &__wrap   
            margin: 130px    
        &__title
            font-size: 30px
            font-weight: 500    
            line-height: 40px
            max-width: 240px
        &__descr
            max-width: 470px
            line-height: 29px
            color: $grey-text