.footer
    &-main-footer
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        &__list
            flex-basis: 20%  
            margin-top: 140px
            list-style: none
            & li 
                color: $grey-text
                margin-bottom: 15px
                &:first-child
                    color: $primary 
            &-title
                padding-bottom: 14px
                font-weight: 600
    
@media screen and (max-width: 991px)
    .footer
        &-main-footer
            justify-content: space-between
            &__list
                flex-basis: 30%
@media screen and (max-width: 425px)
    .footer
        &-main-footer
            justify-content: center
            align-items: center
            &__list
                padding-left: 0
                flex-basis: 100%
                text-align: center